[default]
model_id = ""


[openai]
api_key = ""
organization = ""

# Anthropic配置
[anthropic]
api_key = ""

# AWS配置
[aws]
# 区域
region_name = ""
# 访问密钥 ID
aws_access_key_id = ""
# 访问密钥
aws_secret_access_key = ""
